<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426679585080-kf5qofqiep55sgiigeqdipf6s5r3jpos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426679585080-kf5qofqiep55sgiigeqdipf6s5r3jpos</string>
	<key>API_KEY</key>
	<string>AIzaSyCTgP2-akJVtsxZADkG8nKZBCYaum9PAkg</string>
	<key>GCM_SENDER_ID</key>
	<string>426679585080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gParking</string>
	<key>PROJECT_ID</key>
	<string>g-parking-314202</string>
	<key>STORAGE_BUCKET</key>
	<string>g-parking-314202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426679585080:ios:dc1425feffc77c6a5319cd</string>
	<key>DATABASE_URL</key>
	<string>https://g-parking-314202-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>